src/StationList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:StationList" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:StationList" xmlns:intf="urn:StationList" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://data.soap.web.client.geofox.hbt" xmlns:tns2="http://fault.soap.web.client.geofox.hbt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.3
    Built on Oct 05, 2005 (05:23:37 EDT)-->
    <wsdl:types>
        <schema targetNamespace="http://data.soap.web.client.geofox.hbt" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://fault.soap.web.client.geofox.hbt"/>
            <import namespace="urn:StationList"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="StationLight">
                <sequence>
                    <element name="strStationId" nillable="true" type="soapenc:string"/>
                    <element name="strStationName" nillable="true" type="soapenc:string"/>
                    <element name="thePureName" nillable="true" type="soapenc:string"/>
                    <element name="theVillageName" nillable="true" type="soapenc:string"/>
                </sequence>
            </complexType>
            <complexType name="VehicleType">
                <sequence>
                    <element name="vehicleTypeId " nillable="true" type="soapenc:int"/>
                    <element name="shortText" nillable="true" type="soapenc:string"/>
                    <element name="longText" nillable="true" type="soapenc:string"/>
                    <element name="groupNames" nillable="true" type="impl:ArrayOf_soapenc_string"/>
                </sequence>
            </complexType>
            <complexType name="LineName">
                <sequence>
                    <element name="carrier" nillable="true" type="soapenc:string"/>
                    <element name="lineKey" nillable="true" type="soapenc:string"/>
                    <element name="lineName" nillable="true" type="soapenc:string"/>
                    <element name="primeVehicleType" nillable="true" type="tns1:VehicleType"/>
                </sequence>
            </complexType>
            <complexType name="StationLightFull">
                <sequence>
                    <element name="strStationId" nillable="true" type="soapenc:string"/>
                    <element name="strStationName" nillable="true" type="soapenc:string"/>
                    <element name="thePureName" nillable="true" type="soapenc:string"/>
                    <element name="theVillageName" nillable="true" type="soapenc:string"/>
                    <element name="theChangeNode" nillable="true" type="soapenc:string"/>
                    <element name="isAlias" nillable="true" type="soapenc:boolean"/>
                    <element name="tarifs" nillable="true" type="soapenc:string"/>
                    <element name="gkx" nillable="true" type="soapenc:int"/>
                    <element name="gky" nillable="true" type="soapenc:int"/>
                    <element name="lat" nillable="true" type="soapenc:double"/>
                    <element name="lon" nillable="true" type="soapenc:double"/>
                    <element name="lineNames" nillable="true" type="impl:ArrayOf_tns2_LineName"/>
                </sequence>
            </complexType>
            <complexType name="StationLightCN">
                <sequence>
                    <element name="strStationId" nillable="true" type="soapenc:string"/>
                    <element name="strStationName" nillable="true" type="soapenc:string"/>
                    <element name="thePureName" nillable="true" type="soapenc:string"/>
                    <element name="theVillageName" nillable="true" type="soapenc:string"/>
                    <element name="theChangeNode" nillable="true" type="soapenc:string"/>
                    <element name="isAlias" nillable="true" type="soapenc:boolean"/>
                    <element name="tarifs" nillable="true" type="soapenc:string"/>
                </sequence>
            </complexType>
            <complexType name="StationLightGK">
                <sequence>
                    <element name="strStationId" nillable="true" type="soapenc:string"/>
                    <element name="strStationName" nillable="true" type="soapenc:string"/>
                    <element name="thePureName" nillable="true" type="soapenc:string"/>
                    <element name="theVillageName" nillable="true" type="soapenc:string"/>
                    <element name="theChangeNode" nillable="true" type="soapenc:string"/>
                    <element name="isAlias" nillable="true" type="soapenc:boolean"/>
                    <element name="tarifs" nillable="true" type="soapenc:string"/>
                    <element name="gkx" nillable="true" type="soapenc:int"/>
                    <element name="gky" nillable="true" type="soapenc:int"/>
                </sequence>
            </complexType>
        </schema>
        <schema targetNamespace="urn:StationList" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://data.soap.web.client.geofox.hbt"/>
            <import namespace="http://fault.soap.web.client.geofox.hbt"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="ArrayOf_tns2_StationLight">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StationLight[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_soapenc_string">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_tns2_LineName">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:LineName[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_tns2_StationLightFull">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StationLightFull[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_tns2_StationLightCN">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StationLightCN[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="ArrayOf_tns2_StationLightGK">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:StationLightGK[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
        <schema targetNamespace="http://fault.soap.web.client.geofox.hbt" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://data.soap.web.client.geofox.hbt"/>
            <import namespace="urn:StationList"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="StationListResponseFault">
                <sequence>
                    <element name="strText" nillable="true" type="soapenc:string"/>
                    <element name="intCode" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="GeofoxServerConnectionFault">
                <sequence>
                    <element name="strMessage1" nillable="true" type="soapenc:string"/>
                    <element name="strText" nillable="true" type="soapenc:string"/>
                    <element name="intCode" type="xsd:int"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="getTheStationListRequest">

    </wsdl:message>

    <wsdl:message name="StationListResponseFault">

        <wsdl:part name="fault" type="tns2:StationListResponseFault"/>

    </wsdl:message>

    <wsdl:message name="GeofoxServerConnectionFault">

        <wsdl:part name="fault" type="tns2:GeofoxServerConnectionFault"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListGKResponse">

        <wsdl:part name="getTheStationListGKReturn" type="impl:ArrayOf_tns2_StationLightGK"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListFullResponse">

        <wsdl:part name="getTheStationListFullReturn" type="impl:ArrayOf_tns2_StationLightFull"/>

    </wsdl:message>

    <wsdl:message name="getSpecialStationListRequest">

        <wsdl:part name="in0" type="xsd:int"/>

        <wsdl:part name="in1" type="soapenc:string"/>

    </wsdl:message>

    <wsdl:message name="getInfoStationListResponse">

        <wsdl:part name="getInfoStationListReturn" type="impl:ArrayOf_soapenc_string"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListFullRequest">

        <wsdl:part name="in2" type="xsd:boolean"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListCNRequest">

    </wsdl:message>

    <wsdl:message name="getSpecialStationListResponse">

        <wsdl:part name="getSpecialStationListReturn" type="impl:ArrayOf_tns2_StationLight"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListFullLimitRequest">

        <wsdl:part name="in2" type="xsd:boolean"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListGKRequest">

    </wsdl:message>

    <wsdl:message name="getInfoStationListRequest">

    </wsdl:message>

    <wsdl:message name="getTheStationListFullLimitResponse">

        <wsdl:part name="getTheStationListFullReturn" type="impl:ArrayOf_tns2_StationLightFull"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListCNResponse">

        <wsdl:part name="getTheStationListCNReturn" type="impl:ArrayOf_tns2_StationLightCN"/>

    </wsdl:message>

    <wsdl:message name="getTheStationListResponse">

        <wsdl:part name="getTheStationListReturn" type="impl:ArrayOf_tns2_StationLight"/>

    </wsdl:message>

    <wsdl:portType name="StationList">

        <wsdl:operation name="getTheStationList">

            <wsdl:input message="impl:getTheStationListRequest" name="getTheStationListRequest"/>

            <wsdl:output message="impl:getTheStationListResponse" name="getTheStationListResponse"/>

            <wsdl:fault message="impl:StationListResponseFault" name="StationListResponseFault"/>

            <wsdl:fault message="impl:GeofoxServerConnectionFault" name="GeofoxServerConnectionFault"/>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListFull" parameterOrder="in2">

            <wsdl:input message="impl:getTheStationListFullRequest" name="getTheStationListFullRequest"/>

            <wsdl:output message="impl:getTheStationListFullResponse" name="getTheStationListFullResponse"/>

            <wsdl:fault message="impl:StationListResponseFault" name="StationListResponseFault"/>

            <wsdl:fault message="impl:GeofoxServerConnectionFault" name="GeofoxServerConnectionFault"/>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListFullLimit" parameterOrder="in2">

            <wsdl:input message="impl:getTheStationListFullLimitRequest" name="getTheStationListFullLimitRequest"/>

            <wsdl:output message="impl:getTheStationListFullLimitResponse" name="getTheStationListFullLimitResponse"/>

            <wsdl:fault message="impl:StationListResponseFault" name="StationListResponseFault"/>

            <wsdl:fault message="impl:GeofoxServerConnectionFault" name="GeofoxServerConnectionFault"/>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListCN">

            <wsdl:input message="impl:getTheStationListCNRequest" name="getTheStationListCNRequest"/>

            <wsdl:output message="impl:getTheStationListCNResponse" name="getTheStationListCNResponse"/>

            <wsdl:fault message="impl:StationListResponseFault" name="StationListResponseFault"/>

            <wsdl:fault message="impl:GeofoxServerConnectionFault" name="GeofoxServerConnectionFault"/>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListGK">

            <wsdl:input message="impl:getTheStationListGKRequest" name="getTheStationListGKRequest"/>

            <wsdl:output message="impl:getTheStationListGKResponse" name="getTheStationListGKResponse"/>

            <wsdl:fault message="impl:StationListResponseFault" name="StationListResponseFault"/>

            <wsdl:fault message="impl:GeofoxServerConnectionFault" name="GeofoxServerConnectionFault"/>

        </wsdl:operation>

        <wsdl:operation name="getSpecialStationList" parameterOrder="in0 in1">

            <wsdl:input message="impl:getSpecialStationListRequest" name="getSpecialStationListRequest"/>

            <wsdl:output message="impl:getSpecialStationListResponse" name="getSpecialStationListResponse"/>

            <wsdl:fault message="impl:StationListResponseFault" name="StationListResponseFault"/>

            <wsdl:fault message="impl:GeofoxServerConnectionFault" name="GeofoxServerConnectionFault"/>

        </wsdl:operation>

        <wsdl:operation name="getInfoStationList">

            <wsdl:input message="impl:getInfoStationListRequest" name="getInfoStationListRequest"/>

            <wsdl:output message="impl:getInfoStationListResponse" name="getInfoStationListResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="StationListSoapBinding" type="impl:StationList">

        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getTheStationList">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getTheStationListRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getTheStationListResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

            <wsdl:fault name="StationListResponseFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="StationListResponseFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

            <wsdl:fault name="GeofoxServerConnectionFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="GeofoxServerConnectionFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListFull">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getTheStationListFullRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getTheStationListFullResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

            <wsdl:fault name="StationListResponseFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="StationListResponseFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

            <wsdl:fault name="GeofoxServerConnectionFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="GeofoxServerConnectionFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListFullLimit">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getTheStationListFullLimitRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getTheStationListFullLimitResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

            <wsdl:fault name="StationListResponseFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="StationListResponseFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

            <wsdl:fault name="GeofoxServerConnectionFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="GeofoxServerConnectionFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListCN">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getTheStationListCNRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getTheStationListCNResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

            <wsdl:fault name="StationListResponseFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="StationListResponseFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

            <wsdl:fault name="GeofoxServerConnectionFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="GeofoxServerConnectionFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getTheStationListGK">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getTheStationListGKRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getTheStationListGKResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

            <wsdl:fault name="StationListResponseFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="StationListResponseFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

            <wsdl:fault name="GeofoxServerConnectionFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="GeofoxServerConnectionFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getSpecialStationList">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getSpecialStationListRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getSpecialStationListResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

            <wsdl:fault name="StationListResponseFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="StationListResponseFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

            <wsdl:fault name="GeofoxServerConnectionFault">

                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="GeofoxServerConnectionFault" namespace="urn:StationList" use="encoded"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getInfoStationList">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getInfoStationListRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:input>

            <wsdl:output name="getInfoStationListResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:StationList" use="encoded"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="StationListService">

        <wsdl:port binding="impl:StationListSoapBinding" name="StationList">

            <wsdlsoap:address location="http://www.geofox.de/soap/services/StationList"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
